@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.preloaded-resources {
  &__container {
    @include display-flex(initial, flex-start);

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }

  &__resources-column {
    @include display-flex(initial, flex-start, column);
    border-right: 1px solid $color-grey-light;
  }

  &__special-material {
    @include display-flex(initial, flex-start, column);
    width: 51.9rem;

    h3 {
      margin-bottom: 2.5rem;
    }
  }

  &__special-material-button {
    width: 100%;
    @include display-flex(flex-end);
    margin-top: 3rem;
  }
}
