$color-grey-light: #cbd5e1;
$color-grey-main: #94a3b8;
$color-grey-main-info: #4b5563;
$color-grey-main-icons: #71717a;
$color-grey-main-dark: #949494;
$color-orange-main: #f59e0b99;
$color-white: #fff;
$color-black: #000;

$font-size-big: 1.6rem;
$font-size-normal-big: 1.5rem;
$font-size-normal: 1.4rem;
$font-size-small: 1.2rem;
$font-size-icon: 2.4rem;
