@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.empty-content {
  @include display-flex();
  height: calc(
    100vh - (11.85rem + 6.65rem)
  ); // minus the intervention header height

  &__container {
    @include display-flex(center, center, column);
    color: $color-grey-light;
    font-size: 6.5rem;
    gap: 1rem;

    p {
      font-size: 3.2rem;
    }
  }
}
