body {
  font-family: "Roboto", sans-serif;
}

.heading-terciary {
  font-weight: 700;
  font-size: $font-size-normal;
  color: $color-grey-main-dark;
}

.heading-secondary {
  font-weight: 700;
  font-size: $font-size-normal;
  color: $color-black;
}

.heading-secondary-accordion {
  font-weight: 700;
  font-size: $font-size-normal-big;
  color: $color-black;
}
