// SPACING
.u-padding-medium {
  padding: 3rem;
}

.u-margin-top-medium {
  margin-top: 3rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small-medium {
  margin-bottom: 2rem;
}

.u-margin-table {
  margin: 1rem 3rem 2.5rem 3rem;
}

.u-margin-left-right-small {
  margin: 0 1.4rem;
}

.u-margin-left-small {
  margin-left: 1.4rem;
}

.u-margin-left-auto {
  margin-left: auto;
}

.u-padding-modal {
  padding: 2rem 3rem;
}

//WEIGHT
.u-bold {
  font-weight: 600;
}

//FONT-ICONS
.u-icon-font-size {
  font-size: $font-size-icon;
}
